html{
    background: lightpink;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

.img-container{
    background-color: darkviolet;
    float: left;
    margin-left: 10px;
}

section{
    background-color: aliceblue;
    display: flex;
}

article{
    background-color: lightcyan;
    padding: 20px;
    margin: 20px;
}

article:nth-of-type(1){
    flex: 300px;
}

article:nth-of-type(2){
    flex: 300px;
}

h1{
    font-size: 3em;
    margin: 0;
    text-align: center;
}

h2{
    font-size: 2em;
    margin: 2;
    text-align: center;
}

h3{
    font-size: 1em;
    margin: 1;
}

form{
    text-align: center;
}

p{
    line-height: 1.4em;
    text-align: center;
}

ul{
    text-align: center;
}

table{
    text-align: center;
    border: #242424;
}

button{
    text-align: center;
    color: #242424;
}

#blog{
    border-top: 1px dotted #ccc;
}

.blog-post{ 
    border-bottom: 1px dotted black;
}

.menu{
    background-color: lightcyan;
    position: sticky;
    top: 0;
}
